include _template

- const title = "#MitMayaNachBrasilien";
- const mission = "Mein Plan"
- const me = "Über Mich"
- const orga = "Organisation"
- const support = "Unterstütze Mich"

mixin description()
  p Das Projekt ARCO Associação Beneficente, ist eine Anlaufstelle für Kinder und Jugendliche. In den Straßen der Favelas von São Paulo herrscht viel Kriminalität und die Arco bietet den Kindern die Möglichkeit, sich dieser Kriminalisierung zu entziehen, indem sie ihnen einen Aufenthaltsort bietet, an dem sie etwas lernen und Freunde treffen können. 

mixin buttonRead()
  p Weiterlesen
mixin buttonSupport()
  p Spenden

mixin mission()
  p Mein Plan für das nächste Jahr ist, bei der ARCO mitzuarbeiten, 
    | die brasilianische Kultur näher kennenzulernen, portugiesisch sprechen zu lernen 
    | und in meiner freien Zeit ein bisschen dort herumzureisen. Brasilien und auch der restliche Kontinent haben eine wunderschöne Natur
    | und es gibt einige Orte, die ich unbedingt einmal besuchen möchte.
  div( style="display: flex; justify-content: center;")
    img(src="img/landschaft.jpg" height="200" style="padding-right: 5vw;")
    img(src="img/children.jpg" height="200") 
  p Aber im Vordergrund steht natürlich die Arbeit bei dem Hilfswerk ARCO Associação Beneficente. 1991 gegründet, 
    | betreut die Einrichtung rund 600 Kinder und Jugendliche aus sozial benachteiligten Familien mit prekären Familienverhältnissen. 
    | Die ARCO besteht aus einem Kindergarten und einer Einrichtung, die wie eine Art Hort fungiert, zu der die Kinder kommen können, 
    | um ein kostenloses Freizeitprogramm zu erhalten. Dies hängt mit der Schule in Brasilien zusammen, 
    | da es entweder nur Vormittags- oder Nachmittagsunterricht gibt und anstatt den ganzen restlichen Tag auf der Straße zu verbringen, 
    | sorgen wir dafür, dass sie eine Anlaufstelle haben, wo sie gerne hinkommen, etwas lernen und Spaß mit ihren Freunden haben können. 
    | Die Kinder erhalten Schulunterricht und eine gesunde Ernährung. 
    | Außerdem werden sie auch im Hinblick auf eine spätere Berufsausbildung vielseitig gefördert, 
    | um ihnen so den Weg aus einem Leben in Armut, Arbeitslosigkeit, Kriminalität und Drogenkonsum zu bieten.
  p Beginnen wird mein Auslandseinsatz am 3.9.2018 und enden wird er am 2.9.2019.
  p Um mehr über die Einrichtung zu erfahren, klicke 
    | <a href="http://www.arcobrasil.org.br/site-alemao/index.htm" class="underline" target="_blank">hier</a>.  

mixin me()
  img( src="img/me.png" width="300")
  p Ich bin Maya Dettmann. Ich mache gerade mein Abitur an dem Geschwister-Scholl-Gymnasium in Wismar. 
    | Ab September bin ich dann für ein Jahr in Brasilien, um bei der ARCO mitzuarbeiten. 
    | Was ich danach machen werde, weiß ich noch nicht. 
    | Auf jeden Fall in der Welt umherreisen und etwas studieren, das mich interessiert.

mixin orga()
  p Ermöglicht wird mir dieser Auslandseinsatz durch die Freunde der Erziehungskunst Rudolf Steiners. 
    | Als freier Bildungsträger vermitteln die Freunde jährlich über 1200 Freiwilligendienste in ganz Deutschland und weltweit. 
    | Damit gehören sie zu einer der größten privatrechtlichen Trägerorganisationen für Freiwilligendienste. 
    | Ziel ist es, möglichst vielen jungen Menschen die Möglichkeit zu bieten, interkulturelle Erfahrungen zu sammeln, 
    | soziale Verantwortung zu übernehmen und sich somit aktiv an der Gestaltung der Gesellschaft zu beteiligen.
  p Um mehr über die Organisation zu erfahren, klicke 
    | <a href="https://www.freunde-waldorf.de/waldorf-weltweit/" class="underline" target="_blank">hier</a>.

mixin support()
  p Offiziell läuft mein Auslandseinsatz unter der Bezeichnung „entwicklungspolitischer Freiwilligendienst“. 
    | Das Ganze wird zum Teil staatlich finanziert, 3200€ muss ich aber in Form von Spenden selber aufbringen. 
    | Diese Spenden kommen dann in einen großen Förderfonds, durch den sichergestellt wird, dass auch im nächsten Jahr 
    | Freiwillige die Möglichkeit haben auf diese Weise ins Ausland zu gehen. Das Konzept basiert also auf dem Solidaritätsprinzip 
    | und auf dem Gleichheitsgedanken. So hängen die Freiwilligendienste nicht von den entstehenden Kosten der einzelnen Projekte 
    | oder von der finanziellen Lage der Freiwilligen und ihrer Eltern ab.
  p Darum bitte ich um Unterstützung in Form von Spenden:
  +bankverbindung()
  p Es ist auch möglich, die Spende direkt auf das Spendenkonto der Freunde zu überweisen. Sollte das gewünscht sein, 
    | übermittle ich gerne die notwendigen Informationen dafür. 
  p Die Freunde sind als gemeinnütziger Verein staatlich anerkannt, weshalb sie als Spender*innen steuerlich wirksame 
    | Spendenbescheinigungen erhalten können.

mixin builtby()
  p#builtby Website umgesetzt durch <a href="https://jneidel.com" class="underline">Jonathan Neidel</a>. View <a href="https://github.com/mayanachbrasilien/spenden" class="underline">Source</a>.

<!-- Dont edit below here -->
mixin title()
  title=title
mixin titleLabel()
  +titleLabelTmp( title ) 

mixin tableOfContents()
  +tableOfContentsTmp( mission, me, orga, support )

mixin h2mission()
  h2#mission=mission
mixin h2me()
  h2#me=me
mixin h2orga()
  h2#organization=orga
mixin h2support()
  h2#support=support
